<h1>Editing practice project</h1>

<%= render "form", practice_project: @practice_project %>

<br>

<div>
  <%= link_to "Show this practice project", @practice_project %> |
  <%= link_to "Back to practice projects", practice_projects_path %>
</div>
