body {
	background-color: white;
	text-align: center;
}

#input{ color: lightblue; 
	text-shadow: black; }

#user_name{
	background-color: yellowgreen;
}
#user_email{
	background-color: yellowgreen;
}




